@charset "utf-8";
h3 {
    text-align: center;

}

.justificar{
	text-align: justify;
}

.centrar{
	display:block;
	margin:auto;
}

body{
	background-color: #c9e9fc ;
	margin-top: 0px;
}

.container {
	background-color: white;
}

#inferior{
	color: rgb(0, 0, 0);
	background: rgb(255, 255, 255);
	position: absolute; /*El div será ubicado con relación a la pantalla*/
	left:0px; /*A la derecha deje un espacio de 0px*/
	right:0px; /*A la izquierda deje un espacio de 0px*/
	bottom:0px; /*Abajo deje un espacio de 0px*/
	height:30px; /*alto del div*/
	top:auto;
	z-index: 9999;
	text-align: center;
}

.list-group-item{
	background: #4da8cf;
}
.list-group-item a{
	text-decoration: none;
	color: #fff;
}

.active-item{
	background: #365b77;
}

html{
	min-height: 100%;
	position: relative;
}

.borde{
	border-radius: 15px;
	background-color: whitesmoke;
	border-color: rgb(1, 116, 145);
    border-width: 5px;
    border-style: solid;
	margin: 0 auto;
	margin-bottom: 10px;
}

article {
	scroll-behavior: smooth;
  }
