<!DOCTYPE html>
<html lang="es">

<head>
    <title>Leccion 5 - Typescript</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Typescript" content="Curso de Typescript">
    <meta name="TPI115" content="Proyecto de la materia TPI115">
    <meta name="Curso de Typescript" content="Curso impartido por la materia TPI115">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../estilos/estilo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../estilos/prism/prism.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header"></div>
            <ul class="nav navbar-nav">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="leccion1.html">Lección 1</a></li>
                <li><a href="leccion2.html">Lección 2</a></li>
                <li><a href="leccion3.html">Lección 3</a></li>
                <li><a href="leccion4.html">Lección 4</a></li>
                <li class="active"><a href="leccion5.html">Lección 5</a></li>
                <li><a href="leccion6.html">Lección 6</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" method=GET action="http://www.google.es/search" >
                    <div class="form-group navegacion">
                       
                        <input type="text" class="form-control" placeholder="Tema a buscar" name="q">
                        <input type=hidden name=sitesearch value="">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                    <img src="../images/typescript.png" alt="" width="34" height="34">
                </form>
                
            </ul>

        </div>
    </nav>


    <div class="container">

        <div class="row">
            <div class="col-sm-3 ">
                <ul class="list-group">
                    <li class="list-group-item">tema 1</li>
                    <li class="list-group-item">tema 2</li>
                    <li class="list-group-item">tema 3</li>
                </ul>
            </div>

            <div class="col-sm-9">
                <h1>TypeScript para programadores funcionales</h1>
                <p><a href="https://www.youtube.com/watch?v=A9XaRk0eOHM" target="_blank">Programación Funcional:</a> es el paradigma de programación que esta teniendo un auge hoy en dia, como su nombre lo device
                    es un tipo de programacion en la que se desarrolla en base a funciones, y lo importante de una funcion es "¿Qué hace?" y NO "¿Cómo lo hace?".
                    Esto quiere decir que nosotros expresaremos nuestra lógica sin describir controles de flujo; no usaremos ciclos o condicionales.
                    Cuando nos encontramos desarrollamos software utilizando este paradigma, estaremos trabajando principalmente con funciones, evitaremos los 
                    datos mutables, así como el hecho de compartir estados entre funciones.</p>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/ch09uKQBxo0" title="¿Qué es TypeScript y por qué utilizarlo?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <p>TypeScript comenzó su vida como un intento de llevar los tipos tradicionales orientados a objetos a JavaScript 
                    para que los programadores de Microsoft pudieran llevar los programas tradicionales orientados a objetos a la web. 
                    A medida que se ha desarrollado, el sistema de tipos de TypeScript ha evolucionado para modelar el código escrito por 
                    JavaScripters nativos. El sistema resultante es poderoso, interesante y desordenado.</p>

                <p>Esta introducción está diseñada para programadores de Haskell o Maching Learning (ML) que quieran aprender TypeScript, también describe en qué se diferencia el sistema de 
                    tipos de TypeScript del sistema de tipos de Haskell. También describe características únicas del sistema de tipos de TypeScript que surgen de 
                    su modelado de código JavaScript.</p>
                <p>Esta introducción no cubre la programación orientada a objetos.En la práctica,los programas orientados a objetos en TypeScript son similares a los 
                    de otros lenguajes populares con características OO.</p>
                
                <h2>Prerrequisitos</h2>
                <p>Como se mencionó, esta seccion esta creada para personas con conocimientos de: </p>

                <ul>
                    <li>Cómo programar en JavaScript,las partes buenas.</li>
                    <li>Sintaxis de tipo de un lenguaje descendiente de C.</li>
                    <li>Conocimientos basicos de programación en Haskell</li>
                </ul>

                <p>Tranquilo, sino tienes conocimientos sobre estos prerrequisitos, aunque este apartado este orientado a personas con algunos conocimientos, te dejo algunos enlaces a cursos para que puedas aprender un poco más sobre estos temas:</p>

                <ul>
                    <li><a href="https://www.youtube.com/watch?v=DVhMXarwDoQ" target="_blank">Así aprendí Programación funcional, 4 conceptos que debes saber</a></li>
                    <li><a href="https://www.youtube.com/watch?v=D2xsaA_YERY" target="_blank">Curso de Haskell desde cero</a></li>
                    <li><a href="https://www.youtube.com/watch?v=Ga3XXNAIPt0" target="_blank">Programacion Funciona en JavaScript</a></li>
                    
                </ul>

                <p>El lenguaje de programación C ++ es un buen lugar para aprender sobre la sintaxis de tipo de estilo C. A diferencia de C ++, TypeScript usa tipos de sufijo, así: x: string lugar de string x .</p>
                <h2>Conceptos que no están en Haskell</h2>
                <h3>Tipos Incorporados</h3>

                <p>JavaScript define 8 tipos incorporados:</p>

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Explicación</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Numbre</td>
                        <td>un punto flotante IEEE 754 de doble precisión.</td>
                      </tr>
                      <tr>
                        <td>String</td>
                        <td>una cadena UTF-16 inmutable.</td>
                      </tr>
                      <tr>
                        <td>BigInt</td>
                        <td>enteros en el formato de precisión arbitraria.</td>
                      </tr>
                      <tr>
                        <td>Boolean</td>
                        <td>true y false.</td>
                      </tr>
                      <tr>
                        <td>Symbol</td>
                        <td>un valor único que suele utilizarse como clave.</td>
                      </tr>
                      <tr>
                        <td>Null</td>
                        <td>equivalente al tipo de unidad.</td>
                      </tr>
                      <tr>
                        <td>Undefined</td>
                        <td>También es equivalente al tipo de unidad.</td>
                      </tr>
                      <tr>
                        <td>Object</td>
                        <td>similares a los registros.</td>
                      </tr>
                    </tbody>
                </table>

                <p>TypeScript tiene tipos primitivos correspondientes para los tipo incorporados</p>
                <ul>
                    <li>number</li>
                    <li>string</li>
                    <li>bigint</li>
                    <li>boolean</li>
                    <li>symbol</li>
                    <li>null</li>
                    <li>undefined</li>
                    <li>object</li>
                </ul>


                <pre><code class="language-typescript">   
                    type One = { p: string };
                    interface Two {
                    p: string;
                    }
                    class Three {
                    p = "Hello";
                    }
                    
                    let x: One = { p: "hi" };
                    let two: Two = x;
                    two = new Three();
                </code></pre>





            </div>
        </div>
        
    </div>
    <div id="inferior">
        <p>Autores: Grupo 07 de TPI115 - UES</p>
    </div>
    <script src="../estilos/prism/prism.js"></script>
</body>

</html>